@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
   margin: 0;
   padding: 0;
}

html {
   width: 100%;
   height: 100%;
}

body {
   background: #B13D3B;
   width: 100%;
   height: 100%;
   font-family: 'Montserrat';
}

header {
   background: #9DC6CA;
   height: 40%;
   font-family: 'AishaScript';
   color: #B13D3B;  
   text-shadow: 4px 0 0 #f3f2e0, -2px 0 0 #f3f2e0, 0 4px 0 #f3f2e0;
}

header h1 {
   margin-left: 20px;
   font-size: 40px;
}

#tablero {
   width: 420px;
   height: 420px;
   background: rgba(0, 0, 0, 0);
   margin: -425px 0px 0px 33%;
   border-radius: 5px;
   position: relative;
   padding: 0%;
   z-index: 1;
}

#tablero .casillaLeft {
   width: 38px;
   height: 38px;
   display: inline-block;
   margin-bottom: -4px;
   font-size: 16px;
   text-align: center;
   color: #f3f2e0;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   border: 2px solid #f3f2e0;
   border-radius: 25px;
   opacity: 0;
   transform: scale(0);
}

#tablero .casillaRight {
   width: 38px;
   height: 38px;
   float: right;
   font-size: 16px;
   text-align: center;
   color: #f3f2e0;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   border: 2px solid #f3f2e0;
   border-radius: 25px;
   opacity: 0;
   transform: scale(0);
}

img {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   margin: 15px 0px 0px 0px;
   display: inline-block;
   border-radius: 5px;
   position: relative;
   z-index: 0;
}

.imgTablero {
   margin-left: 33%;
   margin-top: -210px;
   border-radius: 5px;
}

#mensaje {
   display: none;
   position: absolute;
   top: 35%;
   right: 7%;
   font-size: 40px;  
   font-weight: bold;
   background: #9DC6CA;
   color: #B13D3B;  
   text-shadow: 2px 0 0 #f3f2e0, -2px 0 0 #f3f2e0, 0 3px 0 #f3f2e0;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   padding: 10px;
   border-radius: 10px;
   font-family: 'Montserrat';
   transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
   transform: scale(0);
}

.show {
   transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
   transform: scale(1) !important;
}

.contReiniciar {
   display: none;
   position: absolute;
   top: 50%;
   right: 17%;
   transition: all 1s cubic-bezier(.25,.8,.25,1);
   z-index: 100;
   transform: scale(0);
}

.contReiniciar button {
   width: 70px;
   height: 70px;
   border-radius: 35px;
   background: url('img/reload.png');
   background-size: 55px;
   background-repeat: no-repeat;
   background-color: #f3f2e0;
   background-position: center;
}

.jugadoresCtrl {
   display: block;
   margin-left: 31%;
}

.contJugadores {
   margin: 20px 0px 15px 25px;
   width: auto;
   display: inline-block;
}

.lblJugador {
   padding: 10px; 
   color: #fff;
   border-radius: 3px;
   font-size: 14px;
   font-weight: bold;
   display: inline-block;
   width: auto;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.enCasilla {
   box-shadow: 0 7px 10px rgba(0,0,0,0.50), 0 5px 6px rgba(0,0,0,0.40);
   opacity: 1 !important;
   transform: scale(1) !important;
}

.morado {
   background: rgb(161, 103, 209);
}

.verde {
   background: rgb(113, 177, 97);
}

.contDado {
   margin: 15px;
   width: 15%;
   display: inline-block;
}

.contDado label {
   padding: 5px; 
   background: rgb(52, 146, 59);
   border-radius: 3px;
   margin: 5px;
   color: #fff;
}

#numDado {
   transition: 0.2s ease;
}

.rotar {
   animation: rotar;
   animation-duration: 0.2s;
}

button {
   border: none;
   border-radius: 3px;
   padding: 10px; 
   font-size: 14px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   outline: none;
   margin-top: 5px;
   background: #f3f2e0;
   width: auto;
   font-family: 'Montserrat';
   font-weight: bold;
}

button:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   cursor: pointer;
 }

button:active {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@keyframes rotar {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@font-face {
   font-family: "AishaScript";
   src: url("fonts/AishaScript.ttf");
 }